@page "/customfetchdata"
@inject HttpClient Http

<PageTitle>Product</PageTitle>

<h1>Product</h1>

<p>This component demonstrates fetching data from the server.</p>

<CustomGrid DataSource="products"
            R_ServiceSave="@R_ServiceSave"
            R_ServiceGetRecord="@R_ServiceGetRecord"
            R_AfterAdd="@R_AfterAdd"
            R_ServiceDelete="@R_ServiceDelete">
    <GridColumnsContent>
        <CustomCheckboxSelectColumn FieldName="@nameof(ProductDTO.Selected)"
                                    HeaderText="Selected"
                                    ShowSelectAllHeader />
        <CustomNumericTextBoxColumn FieldName="@nameof(ProductDTO.Id)" HeaderText="Id" />
        <CustomTextBoxColumn FieldName="@nameof(ProductDTO.Name)" HeaderText="Product Name" />
        <CustomLookupColumn FieldName="@nameof(ProductDTO.CategoryId)" HeaderText="Category" />
        <CustomNumericTextBoxColumn FieldName="@nameof(ProductDTO.Price)" HeaderText="Price" />
@*         <CustomComboBoxColumn ValueField="@nameof(CategoryDTO.Id)"
                              TextField="@nameof(CategoryDTO.Name)"
                              Data=@categories
                              FieldName="@nameof(ProductDTO.CategoryId)"
                              HeaderText="Category" /> *@
        
    </GridColumnsContent>
</CustomGrid>

@code {
    [Inject] public ProductService ProductService { get; set; }

    private ObservableCollection<ProductDTO> products;
    private List<CategoryDTO> categories;

    protected override Task OnInitializedAsync()
    {
        categories = ProductService.GetCategories();

        var loProduct = ProductService.GenerateProduct(10, categories);
        products = new ObservableCollection<ProductDTO>(loProduct);

        return Task.CompletedTask;
    }

    #region CRUD
    private void R_AfterAdd(R_AfterAddEventArgs args)
    {
        var data = (ProductDTO)args.Data;

        data.Price = 2000;
    }

    private void R_ServiceSave(R_ServiceSaveEventArgs args)
    {
        if (args.GridMode == GridMode.Add)
            ProductService.CreateProduct((ProductDTO)args.Data);
        else
            ProductService.UpdateProduct((ProductDTO)args.Data);

        args.Result = args.Data;

        Console.WriteLine("Create event is fired.");
    }

    private void R_ServiceGetRecord(R_ServiceGetRecordEventArgs args)
    {
        args.Result = args.Data;
    }

    private void R_ServiceDelete(R_ServiceDeleteEventArgs args)
    {
        ProductService.DeleteProduct((ProductDTO)args.Data);
    }
    #endregion
}