@inherits ComponentBase

<div class="row">
    <div class="col-10" onkeydown="tabToButton(event,'LookupButton1')">
        <TelerikTextBox Value="@Value"
                        ValueChanged="@ValueChangedHandler"
                        ValueExpression="@(() => Value)"
                        DebounceDelay="0"
                        Class="w-100" />
    </div>
    <div class="col-2" onkeydown="tabLastColumn(event)">
        <TelerikButton @ref="@_buttonRef" OnClick="@OnClickHandler" TabIndex="0" Class="w-100" Id="LookupButton1">...</TelerikButton>
    </div>
</div>

@code {
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public object Context { get; set; }
    [Parameter] public string FieldName { get; set; }
    [Parameter] public string Name { get; set; }

    [Inject] private IJSRuntime JS { get; set; }

    private TelerikButton _buttonRef;

    private void OnClickHandler()
    {
        //raise popup here
    }

    public void ValueChangedHandler(string pcValue)
    {
        Context.GetType().GetProperty(FieldName).SetValue(Context, pcValue);

        if (ValueChanged.HasDelegate)
            ValueChanged.InvokeAsync(pcValue);
    }

    [JSInvokable]
    public static Task InvokeSave()
    {
        return Task.CompletedTask;
    }
}